/* import google font - Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #8a6cff;
}

.wrapper {
  width: 450px;
  padding: 25px;
  border-radius: 7px;
  background-color: #fff;
}

.wrapper .gradient-box {
  width: 100%;
  height: 180px;
  border-radius: 7px;
  background: linear-gradient(to left top, #5665e9, #a271f8);
  margin-bottom: 20px;
}

.wrapper .row {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
}

.row :where(.column, button) {
  width: calc(100% / 2 - 12px);
}

.options p{
  font-size: 1.12rem;
  margin-bottom: 8px;
}

.options .select-box {
  border: 1px solid #aaa;
  padding: 10px 15px;
  border-radius: 5px;
}

.select-box select {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  font-size: 1.12rem;
}

.options .colors {
  margin-left: 60px;
}

.colors input {
  height: 41px;
  width: calc(100% / 2 - 20px);
}

.options .colors input:last-child {
  margin-left: 6px;
}

.wrapper textarea {
  width: 100%;
  padding: 10px 15px;
  color: #333;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
  font-size: 1.05rem;

}

.buttons button {
  padding: 15px 0;
  border-radius: 5px;
  font-size: 1.09rem;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  margin: 0 0 -15px;
  transition: 0.3s ease;
}

.buttons .refresh {
  background-color: #6c757d;
}
.buttons .refresh:hover {
  background-color: #5c6369;
}

.buttons .copy {
  background-color: #8a6cff;
}
.buttons .copy:hover {
  background-color: #755cda;
}